* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;

}

.fa-triangle-exclamation {
    color: red;
    font-size: 150px;
}

.fa-hippo {
    font-size: 150px;
}